<div class="top-wrapper">
  <div class="top-inner-text">
    <h1>Cold Brew/Crew</h1>

    <h3>店名から探す</h3>
    <%= search_form_for @search_store, url: stores_path do |f| %>
      <h3><%= f.text_field :name_cont ,placeholder: '店名' %></h3>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
    
    <h3>味の評価から探す</h3>

    <div class="frame">
      <h3 class="left">まろやか☕️</h3>
        <%= search_form_for @search_article, url: search_store_articles_path(store_id: @search_articles) do |f| %>
          <%= f.radio_button :rate, '' %><span class="font">※指定しない</span>
          <%= f.radio_button :rate, '1.0' %><span class="font">1</span>
          <%= f.radio_button :rate, '2.0' %><span class="font">2</span>
          <%= f.radio_button :rate, '3.0', checked: true %><span class="font">3</span>
          <%= f.radio_button :rate, '4.0' %><span class="font">4</span>
          <%= f.radio_button :rate, '5.0' %><span class="font">5</span>
          <h3><%= f.submit class: 'btn btn-primary' %></h3>
        <% end %>
      <h3 class="right">フルーティ🍒</h3>
    </div>
    
    <div class="row">
      <div class="col-md-4">
        <h3>エリアから探す</h3>
          <h3><%= link_to '渋谷', '/areas/1' %></h3>
          <h3><%= link_to '新宿', '/areas/2' %></h3>
          <h3><%= link_to '池袋', '/areas/3' %></h3>
          <h3><%= link_to '表参道', '/areas/4' %></h3>
          <h3><%= link_to '代官山', '/areas/5' %></h3>
        </h3>
      </div>
      <div class="col-md-4">
        <h3>特徴から探す</h3>
          <h3><%= link_to 'コーヒースタンド', '/features/1' %></h3>
          <h3><%= link_to 'テラス席', '/features/2' %></h3>
          <h3><%= link_to '豆販売', 'features/3' %></h3>
          <h3><%= link_to '禁煙', 'features/4' %></h3>
          <h3><%= link_to 'フードも◎', 'features/5' %></h3>
        </h3>
      </div>
    </div>
  </div>
</div>

    
    