
<div class="top-wrapper">
  <div class="top-inner-text">
    <h1>Cold Brew/Crew</h1>
    <br>
    <h3>店名から探す</h3>
    <%= search_form_for @search, url: stores_path do |f| %></h3>
      <h3><%= f.text_field :name_cont ,placeholder: '店名を入力してください' %></h3>
      <h3><%= f.submit ("検索") , class: 'search-btn'%></h3>
    <% end %>

    <section class="demo">
      <input type="range" multiple="" value="0,100" class="multirange original">
      <input type="range" multiple="" value="0,100" class="multirange ghost" style="--low:1%; --high:99%;">
      <input type="range" multiple value="10,80" />
      <input type="range" id="range" min="0" max="10" step="1" value="5">
    </section>

    <div class="row">
      <div class="col-md-4">
        <h3>エリアから探す</h3>
          <h3><%= link_to '渋谷', '/areas/1' %></h3>
          <h3><%= link_to '新宿', '/areas/2' %></h3>
          <h3><%= link_to '池袋', '/areas/3' %></h3>
          <h3><%= link_to '表参道', '/areas/4' %></h3>
          <h3><%= link_to '代官山', '/areas/5' %></h3>
          <h4>随時追加します！<h4>
        </h3>
      </div>
      <div class="col-md-4">
        <h3>特徴から探す</h3>
          <h3><%= link_to 'コーヒースタンド', '/features/1' %></h3>
          <h3><%= link_to 'テラス席あり', '/features/2' %></h3>
          <h3><%= link_to '喫煙可', 'features/3' %></h3>
          <h4>随時追加します！<h4>
        </h3>
      </div>
      <div class="col-md-4">
        <h3>コーヒー豆の産地から探す</h3>
          <h3><%= link_to 'エチオピア', '#' %></h3>
          <h3><%= link_to 'コロンビア', '#' %></h3>
          <h3><%= link_to 'ブラジル', '#' %></h3>
          <h3><%= link_to 'インドネシア', '#' %></h3>
          <h3><%= link_to 'グアテマラ', '#' %></h3>
          <h4>随時追加します！<h4>
          <h3>
        </h3>
      </div>
    </div>
  </div>
</div>

    
    