<% content_for(:title, @article.title) %>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1><%= t '.title' %></h1>
      <%= form_with model: @article, url: admin_article_path(@article), local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :body %>
          <%= f.text_area :body, class: 'form-control', rows: 10 %>
        </div>
        
        <h6 class="left">まろやか☕️</h6>
        <div class="rate">
          <%= f.radio_button :rate, "1" %>
          <%= f.label :rate , value: 1 %>
          <%= f.radio_button :rate, "2" %>
          <%= f.label :rate , value: 2 %>
          <%= f.radio_button :rate, "3" %>
          <%= f.label :rate , value: 3 %>
          <%= f.radio_button :rate, "4" %>
          <%= f.label :rate , value: 4 %>
          <%= f.radio_button :rate, "5" %>
          <%= f.label :rate , value: 5 %>
        </div>
        <h6 class="right">フルーティ🍒</h6>

        <div class="form-group">
          <%= f.label :article_image %>
          <%= f.file_field :article_image, onchange: 'previewFileWithId(preview)', class: 'form-control mb-3', accept: 'image/*' %>
          <%= f.hidden_field :article_image_cache %>
        </div>
        <div class='mt-3 mb-3'>
          <%= image_tag @article.article_image.url,
                        id: 'preview',
                        size: '300x200' %>
        </div>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>