<div class="col-sm-12 col-lg-4 mb-3">
  <div id="article-id-<%= article.id %>">
    <div class="card">
      <%= image_tag article.article_image_url, class: 'card-img-top', size: '300x200' %>
      <div class="card-body">
        <h4 class="card-title">
          <%= link_to article.title, store_article_path(@store, article),class: 'link' %>
        </h4>
        <% if logged_in? %>
          <%= render 'crud_menus', store: @store, article: article if current_user.own?(article) %>
          <%= render 'like_button',  article: article  %>
        <% end %>
        <ul class="list-inline">
          <li class="list-inline-item">
            <%= icon 'fa', 'coffee' %>
            <%= @store.name %>
          </li>
          <li class="list-inline-item">
            <%= icon 'far', 'user' %>
            <%= article.user.name %>
          </li>
          <li class="list-inline-item">
            <%= icon 'far', 'calendar' %>
            <%= l article.created_at, format: :long %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>