<% breadcrumb :user_show, current_user %>
<div class="container pt-3">
  <div class="row justify-content-center">
    <% if logged_in? && @user == current_user %>
      <h1 class="font-weight-normal mt-5 mb-5">マイページ</h1>
    <% else %>
      <h1 class="font-weight-normal mt-5 mb-5"><%= current_user.name %>さんのページ</h1>
    <% end %>
  </div>

  <%= render 'profiles/profile' %>

  <h3 class="font-weight-normal mt-5 mb-5">投稿記事</h3>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% @articles.each do |article| %>
          <div class="col-sm-12 col-lg-4 mb-3">
            <div id="article-id-<%= article.id %>">
              <div class="card">
                <%= image_tag article.article_image_url, class: 'card-img-top', size: '300x200' %>
                <div class="card-body">
                  <h4 class="card-title">
                    <%= link_to article.title, store_article_path(article.store_id) %>
                  </h4>
          
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <%= icon 'far', 'user' %>
                      <%= article.user.name %>
                      <%= icon 'far', 'calendar' %>
                      <%= l article.created_at, format: :long %>
                      店名：<%= article.store.name %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <!-- ページネーション -->
        <%= paginate @articles %>
      </div>
    </div>
  </div>

  <h3 class="font-weight-normal mt-5 mb-5">いいねした記事</h3>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% @likes_articles.each do |like_article| %>
          <div class="col-sm-12 col-lg-4 mb-3">
            <div id="like-article-id-<%= like_article.id %>">
              <div class="card">
                <%= image_tag like_article.article_image_url, class: 'card-img-top', size: '300x200' %>
                <div class="card-body">
                  <h4 class="card-title">
                    <%= link_to like_article.title, store_article_path(like_article) %>
                  </h4>
                  
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <%= icon 'far', 'user' %>
                      <%= like_article.user.name %>
                      <%= icon 'far', 'calendar' %>
                      <%= l like_article.created_at, format: :long %>
                      店名：<%= like_article.store.name %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <!-- ページネーション -->
        <%= paginate @likes_articles %>
      </div>
    </div>
  </div>

  <h3 class="font-weight-normal mt-5 mb-5">お気に入り登録した店舗</h3>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% @stores.each do |store| %>
          <div class="col-sm-12 col-lg-4 mb-3">
            <div id="store-id-<%= store.id %>">
              <div class="card">
                <div class="card-body">
                  <%= image_tag store.store_image_url, class: 'card-img-top', size: '300x200' %>
                  <h4 class="card-title">
                    <%= link_to store.name, store_path(store) %>
                  </h4>
          
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <%= store.area.name %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <!-- ページネーション -->
        <%= paginate @stores %>
      </div>
    </div>
  </div>
</div>