<% @stores.each do |store| %>
  <div class="col-sm-12 col-lg-4 mb-3">
    <div id="store-id-<%= @store.id %>">
      <div class="card">
        
        <div class="card-body">
          <h4 class="card-title">
            <%= link_to store.name, store_path(store.id),class: 'link' %>
          </h4>
          <% if logged_in? %>
            <%= render 'crud_menus', store: store if current_user.admin? %>
            <%= render 'favorite_button', store: store %>
          <% end %>
          <ul class="list-inline">
            <li class="list-inline-item">
              <%= @area.name %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>