## /Users/user/pf/cold_brew_app/app/views/articles/_form.html.erb
## formにこーひーの種類を選択させる機能
<div class='form-group'>
<%= f.collection_check_boxes(:cofffee_ids, Coffee.all, :id, :producing_area) do |tag| %>
  <div class='form-check'>
      <%= tag.label class: 'form-check-label' do %>
          <%= tag.check_box class: 'form-check-input' %>
          <%= tag.text %>
      <% end %>
    </div>
<% end %>

## /Users/user/pf/cold_brew_app/app/views/articles/_article.html.erb
  <% article.coffees.each do |coffee| %>
    <span><%= coffee.producing_area %></span>
  <% end %>

#store/indexの画像リンク
<%= image_tag store.store_image_url, class: 'card-img-top', size: '300x200' %>

#/Users/user/pf/cold_brew_app/app/views/coffees/edit.html.erb
<div class='form-group'>
    <%= f.collection_check_boxes(:season_ids, Season.all, :id, :name) do |tag| %>
      <div class='form-check'>
          <%= tag.label class: 'form-check-label' do %>
              <%= tag.check_box class: 'form-check-input' %>
              <%= tag.text %>
          <% end %>
        </div>
    <% end %>
  </div>

  #/Users/user/pf/cold_brew_app/app/views/shared/_header.html.erb
  <%= search_form_for @search_article, url: search_store_articles_path(store_id: @search_articles) do |f| %>
    <font color="white">味の評価から探す</font>
    <%= f.radio_button :rate_eq, 'M2' %>1
    <%= f.radio_button :rate_eq, '2.0' %>2
    <%= f.radio_button :rate_eq, '3.0', checked: true %>3
    <%= f.radio_button :rate_eq, '4.0' %>4
    <%= f.radio_button :rate_eq, '5.0' %>5
    <%= f.submit class: 'btn btn-light btn-sm'%>
  <% end %>

  #<h4><%= link_to 'グアテマラ', '/coffees/12', class:'link-top' %></h4>
  #<h4><%= link_to 'ベトナム', '/coffees/11', class:'link-top' %></h4>


  <%= link_to 'いいね一覧', likes_store_articles_path(current_user), class: 'dropdown-item' %>

  <h3 class="font-weight-normal mt-5 mb-5">いいねした記事</h3>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% @likes_articles.each do |like_article| %>
          <div class="col-sm-12 col-lg-4 mb-3">
            <div id="like-article-id-<%= like_article.id %>">
              <div class="card">
                <%= image_tag like_article.article_image_url, class: 'card-img-top', size: '300x200' %>
                <div class="card-body">
                  <h4 class="card-title">
                    <%= link_to like_article.title, store_article_path(like_article) %>
                  </h4>
                  
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <%= icon 'far', 'user' %>
                      <%= like_article.user.name %>
                      <%= icon 'far', 'calendar' %>
                      <%= l like_article.created_at, format: :long %>
                      店名：<%= like_article.store.name %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <!-- ページネーション -->
        <%= paginate @likes_articles %>
      </div>
    </div>
  </div>

  <%= render 'crud_menus', store: @store, article: article if current_user.own?(article) %>
          <%= render 'like_button',  article: article  %>

          <%= render 'like_button',  article: article  %>