## /Users/user/pf/cold_brew_app/app/views/articles/_form.html.erb
## formにこーひーの種類を選択させる機能
<div class='form-group'>
<%= f.collection_check_boxes(:cofffee_ids, Coffee.all, :id, :producing_area) do |tag| %>
  <div class='form-check'>
      <%= tag.label class: 'form-check-label' do %>
          <%= tag.check_box class: 'form-check-input' %>
          <%= tag.text %>
      <% end %>
    </div>
<% end %>

## /Users/user/pf/cold_brew_app/app/views/articles/_article.html.erb
  <% article.coffees.each do |coffee| %>
    <span><%= coffee.producing_area %></span>
  <% end %>

#store/indexの画像リンク
<%= image_tag store.store_image_url, class: 'card-img-top', size: '300x200' %>

#/Users/user/pf/cold_brew_app/app/views/coffees/edit.html.erb
<div class='form-group'>
    <%= f.collection_check_boxes(:season_ids, Season.all, :id, :name) do |tag| %>
      <div class='form-check'>
          <%= tag.label class: 'form-check-label' do %>
              <%= tag.check_box class: 'form-check-input' %>
              <%= tag.text %>
          <% end %>
        </div>
    <% end %>
  </div>

  #/Users/user/pf/cold_brew_app/app/views/shared/_header.html.erb
  <%= search_form_for @search_article, url: search_store_articles_path(store_id: @search_articles) do |f| %>
    <font color="white">味の評価から探す</font>
    <%= f.radio_button :rate_eq, 'M2' %>1
    <%= f.radio_button :rate_eq, '2.0' %>2
    <%= f.radio_button :rate_eq, '3.0', checked: true %>3
    <%= f.radio_button :rate_eq, '4.0' %>4
    <%= f.radio_button :rate_eq, '5.0' %>5
    <%= f.submit class: 'btn btn-light btn-sm'%>
  <% end %>