<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta content="水出しコーヒーが好きな人がピンポイントで提供しているお店を見つけられる喫茶店／カフェ検索サービスです。
    お店の立地のほか、使用されたコーヒー豆の産地などでも検索できるようにすることで、リサーチにかける時間を短縮できます。" name="description">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body style="background-color: #dee2e6;"> 
    <% if logged_in?  %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <%= breadcrumbs separator: " &rsaquo; " %> 
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>

</html>
